.red{
    border: 1px solid 		#ad191d /*{b-bar-border}*/;
    background: #ad191d /*{b-bar-background-color}*/;
    color: #fff /*{b-bar-color}*/;
    font-weight: bold;
    text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #ad191d /*{b-bar-background-start}*/), to( #6b1414 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #ad191d /*{b-bar-background-start}*/, #6b1414 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #ad191d /*{b-bar-background-start}*/, #6b1414 /*{b-bar-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #ad191d /*{b-bar-background-start}*/, #6b1414 /*{b-bar-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #ad191d /*{b-bar-background-start}*/, #6b1414 /*{b-bar-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #ad191d /*{b-bar-background-start}*/, #6b1414 /*{b-bar-background-end}*/);
}
.yellow{
    border: 1px solid 		#d1cf3e /*{b-bar-border}*/;
    background: #d1cf3e /*{b-bar-background-color}*/;
    color: 					#fff /*{b-bar-color}*/;
    font-weight: bold;
    text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #d1cf3e /*{b-bar-background-start}*/), to( #a3a233 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #d1cf3e /*{b-bar-background-start}*/, #a3a233 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #d1cf3e /*{b-bar-background-start}*/, #a3a233 /*{b-bar-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #d1cf3e /*{b-bar-background-start}*/, #a3a233 /*{b-bar-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #d1cf3e /*{b-bar-background-start}*/, #a3a233 /*{b-bar-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #d1cf3e /*{b-bar-background-start}*/, #a3a233 /*{b-bar-background-end}*/);
}
.green{
    border: 1px solid 		#138a22 /*{b-bar-border}*/;
    background: #138a22 /*{b-bar-background-color}*/;
    color: 					#fff /*{b-bar-color}*/;
    font-weight: bold;
    text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #138a22 /*{b-bar-background-start}*/), to( #07420f /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #138a22 /*{b-bar-background-start}*/, #07420f /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #138a22 /*{b-bar-background-start}*/, #07420f /*{b-bar-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #138a22 /*{b-bar-background-start}*/, #07420f /*{b-bar-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #138a22 /*{b-bar-background-start}*/, #07420f /*{b-bar-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #138a22 /*{b-bar-background-start}*/, #07420f /*{b-bar-background-end}*/);
}
p{
    font-size: 25px;
}

/* Place */

#map_canvas { height: 500px; }

/* Footer to the bottom */
[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;}